.venv/

task1/data/
task2/data/
task3/data/
task4/data/
task5/data/
task6/data/
task7/data/

task1/.ipynb_checkpoints
task2/.ipynb_checkpoints
task3/.ipynb_checkpoints
task4/.ipynb_checkpoints
task5/.ipynb_checkpoints
task6/.ipynb_checkpoints
task7/.ipynb_checkpoints